@use 'helpers' as *;

body {
  @include fluid-text(18, 14);

  font-family: var(--font-family-base);
  color: var(--color-light-50);
  background-color: var(--color-gray-06);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light-absolute);
  font-weight: 600;
}

h1, .h1 {
  @include fluid-text(58, 34);

  line-height: 1.3;
}

h2, .h2 {
  @include fluid-text(48, 28);
}

h3, .h3 {
  @include fluid-text(30, 20);
}

h4, .h4 {
  @include fluid-text(30, 20);
}

h5, .h5 {
  @include fluid-text(24, 18);
}

h6, .h6 {
  @include fluid-text(24, 16);
}

.h-gray {
  color: var(--color-gray-40);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-gray-10);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-light-absolute);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}